* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.navigation_bar {
  height: 65px;
  background-color: black;
}

/*Nastav podla loga co ti mozno niekedy da lmao*/
.navigation_bar img {
  width: 150px;
  position: absolute;
  top: 17px;
  left: 12%;
}

.navigation_bar ul {
  float: right;
  margin-right: 40px; /*Meni vzdialenost tlacidiel od okraja*/
}

.navigation_bar ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 15px;
}

.navigation_bar ul li a {
  padding: 5px 0;
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.navigation_bar ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  /*transition: transform .4s linear;* - pre zakladnu animaciu*/
}

.navigation_bar ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1110px) {
  .navigation_bar img {
    left: 8%;
  }
}

@media (max-width: 944px) {
  .navigation_bar img {
    left: 6%;
    top: 20px;
    width: 130px;
  }

  .navigation_bar ul li a {
    font-size: 17px;
  }
}

@media (max-width: 860px) {
  label #btn {
    display: block;
  }

  .navigation_bar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .navigation_bar ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }

  .navigation_bar ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul{
      left: 0;
  }
  
  #check:checked ~ label #btn{
      display: none;
  }

  #check:checked ~ label #cancel{
      display: block;
  }
}
